{% extends "base.html.twig" %}


{% block title %} Bienvenue dans votre médiathèque {% endblock %}

{% block contenu %} 
    <div class= "wrapper">



    <section class="login-container">
        <div>
            <header>
                <h2> Identification</h2>
            </header>
        </div>

        <div>
            <form Action="" method="post">

                <input type="text" name="username"
        placeholder="nom d'utilisateur" required="required"/>

        <input type="password" name="password"
        placeholder="mot de passe" required="required"/>

            </form>
        </div>
    </section>
    </div>
    <br>
    <div>
    <a> Pas encore inscrit ? cliquer ici : </a><br>
     <td><a href="" class="btn btn-dark">créer un compte</a></td>
     </div>

{% endblock %}







 